/* font-family: 'Oswald', sans-serif;
font-family: 'Qahiri', sans-serif;
font-family: 'Roboto', sans-serif; */
.ff-os{
    font-family: 'Oswald', sans-serif;
}
.ff-qa{
    font-family: 'Qahiri', sans-serif;
}
.ff-ro{
    font-family: 'Roboto', sans-serif;
}
.cfs3{
    font-size: 5rem;
    font-weight: 900;
}
.cfs{
    font-size: 3rem;
    font-weight: 900;
}
.cfs2{
    font-size: 1.5rem;
    font-weight: 700;
}
p{
    text-align: justify;
}
ul{
    padding: 0;
    margin: 0;
}